@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Rubik+Gemstones&display=swap');

@media (min-width: 481px) and (max-width: 967px) {

}
        
body {
    font-family: 'Noto Sans', sans-serif;
    color:#3a3a3a; 
    overflow-x: scroll;    
    scroll-behavior: smooth;   
}

* {
    margin:0;
    padding:0;
    border:none;
}

.logo-link {
    margin-left:200px;
    overflow:auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rubik Gemstones', cursive;
}

iframe {
    height: 500px;
    width: 75%;
    margin-top:100px;
    margin-left: 12%;
    margin-bottom: 90px;
    align-items: center;
}

h1 {
    text-align: left;
    color:rgba(252, 200, 9);
    text-transform: uppercase;
    font-family:Rubik Gemstones,lato;
    font-weight: 400;
    font-size: 75px;
}

h2 {
    font-family: Noto Sans,sans-serif;
    font-size: 54px;
    font-weight: 600;
}


#header-image {
    opacity: 0.7;  
    width:100%;
    height:570px;    
    }

    ul {
        
        text-align: center;
        gap: 5px;
    }
#sticky {
        position: sticky;
        top: 0;
        margin: 10px 10px 10px 10px;
}

a,li {
    display: inline-block;
    padding: 10px;
    font-family: lato;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
    color: #3a3a3a;
    }

a:hover {
    color:orange;
}


.news-dates {
    margin-top: 5px;
    float:right;
    margin-left:5px;
    list-style-type: none;
    text-decoration: none;
    color: #3a3a3a;
    }

.content-boxes {
    margin-top:40px;   
    display: inline-block;
    margin-bottom: 35px;
    font-family: Noto Sans;
    text-align: left;
    text-overflow: auto;

}


hr {
    width: 50%;
    line-height: 1px;
    border: solid 0.5px;
    color: #3a3a3a;
}


#center-image {
    
    opacity: 0.8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    
}

#origins {
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
    margin-left:10px;
    margin-bottom: 100px;
    font-family: Noto Sans;
    font-weight: 800;  
    font-size: large;
    background-color:rgba(252, 200, 9,0.3);
    height: max-content;
    width: 25%;
    min-width: 75%;
    border: #3a3a3a;
    text-overflow: auto;
    display: inline-block;

}
#traditions-image {

    float: right;
    opacity: 0.8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
#traditions {
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    margin-top: 130px;
    font-family: Noto Sans;
    font-weight: 800; 
    font-size: large; 
    background-color:rgba(252, 200, 9,0.3);
    height: max-content;
    width: 25%;
    min-width: 75%;
    border: #3a3a3a;
    text-overflow: auto;
    display: inline-block;
    float: right;

}

#mexico { 
    border-radius: 15px;
    text-align: center;
    margin-left:10px;   
    margin-top: 130px;
    font-family: Noto Sans;
    font-weight: 800;  
    font-size: large;
    background-color:rgba(252, 200, 9,0.3);
    height: max-content;
    width: 25%;
    min-width: 75%;
    border: #3a3a3a;
    text-overflow: fit-content;
    display: inline-block;
    float:left;
    
}

#mexico-image {

    margin-top: 80px;
    opacity: 0.8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
}

#gallery {
    text-align: center;
    font-family: Noto Sans;
    font-weight: 800;  
    margin-left:10px;
    margin-top: 130px;
    display: flex;
    display: inline-block;
    background-color:rgba(252, 200, 9,0.3);
    border: #3a3a3a;
    text-overflow: auto;
    height: fit-content;
    width: 100%;
    min-width: 75%;
    float: right;
    margin-bottom: 150px;
}    

.gallery-images {
    margin-top: 30px;
    /*margin: 0 auto;*/
    margin-left: 55px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
}


.gallery-images:hover {
    
    width: 400px;
    height: 400px;
    transition: 1.80s;
}






#newsletter-wrapper {

    text-align: center;
    display: inline-block;
    display: flex;
    flex-flow: wrap; 
    height: 30%;
    width: 35%;
    margin-left: 33%;
    margin-top: 40px;
    margin-bottom: 150px;
    background-color: white;

}

fieldset {
    margin: 10px 25px 20px 25px;
    border: 1px solid #3a3a3a;
    width: fit-content;
    font-family: nato sans;
  }

   h3 {
    font-family: Noto Sans,sans-serif;
    font-size: 35px;
    font-weight: 600;
}  

  .news-bottom {
    margin-top: 70px;
  }
  
  input[type=text], input[type=submit] {
    margin: 50px 10px 10px 10px;
    display: inline-block;
    width: 150px;
    padding: 5px;   
    border: 1px solid #3a3a3a;
    width: 150px;
  }
    
  input[type=submit] {
    background-color: rgba(252, 200, 9, 0.9);
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color:  rgba(252, 200, 9, 0.5);
  }

  #contact-us {
    margin-top: 70px;
    width: 100%;
    height: 50%;
    text-align: center;
    border: #3a3a3a 1px soild;
    background-color: white;
    
    }

#form-contact {
    margin-left: 5px;
    border: #3a3a3a solid 1px;
        
}

#dates {
    margin-top: 70px;
    width: 100%;
    height: 50%;
    text-align: center;
    border: #3a3a3a 1px soild;
    background-color: white;
       
}

footer {
    
    width: 100%;
    position: fixed;
    margin-top: auto;
    bottom:0;    
    height: 10%;        
    background-color:rgba(252, 200, 9,0.5);
    text-align: center;
 }

 h6 {
    margin-bottom: 25px;
 }
  
 ion-icon {
    /*margin-top: 1px;*/
    font-size: 52px;
    color: #3a3a3a;
    --ionicon-stroke-width: 16px;
        
  }
  
  ion-icon:hover {
    
    color: orange;
    cursor:pointer; 

  }

 /*
always do this between each change. 

gid add .

git commit -m "information on your changes "

*/
   
 